<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class = "w-full h-screen bg-zinc-900 text-white p-4">
        <h1 class="text-3xl mb-3 ">Upload Profile Pic</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input class="px-3 py-2 bg-transparent border border-zinc-700 rounded-md text-white" required type="file" name = "image">
            <input class="px-3 py-2 bg-yellow-500 rounded-md" type="submit" value="Upload File">
        </form>
    </div>
</body>
</html>